*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ffcccc;
    font-family: 'Oxygen', sans-serif;

}

.topside{
    position: sticky;
    background-color: black;
    color: white;
    width: 100%;
    height: 20px;
    
}

.iletisim{
    background-color: black;
    color: white;
    margin-right: 10px;
    float: right;
}


.topside i{
    float: right;
    margin-right: 10px;
}

#social{
    background-color: black;
    color: white;
    height: 55px;
    width:100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 15px;
}

.container{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.bassayfa{
    text-decoration: none;
    color: white;
    float: left;
    letter-spacing: 2px;
    margin-left: 200px;
    font-size: 25px;
}

#social>a{
    margin-bottom: 1px;
}

#social>i{
    margin-right:15px ;
}

.topButton{
    text-decoration: none;
    color: white;
}

.girisYapText{
    font-size: 17px;
}

.topButton:hover{
    opacity: 0.8;
}

.bassayfa>span{
    font-size: 12px;
    letter-spacing: 1px;
}

#container{
    height: auto;
    width: 80%;
    margin: auto;
    height: auto;
    display: block;
    list-style: none;
    text-align: center;
}

header{
    width: 100%;
    height: auto;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    color: white;
    font-family: 'Sono', sans-serif;
    font-size: 35px;
    background-color: black;
    margin-bottom: 5px;
}

#headerResim{
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}

section{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    margin-top: 15px;
    overflow: auto;
}

.ilgiCeker{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

nav{
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
}

nav li {
    float: left;
}

nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .anasayfaTemel:hover{
    background-color: #adadad;
}

li.anasayfaTemel{
    display: inline-block;
}

.anasayfaTemelMenu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    border-radius: 20px;
}

.anasayfaTemelMenu a{
    display: block;
    text-align: left;
    color: black;
}

.anasayfaTemelMenu a:hover{
    color: black;
    border-top-left-radius: 20px;
}

.anasayfaTemel:hover .anasayfaTemelMenu{
    display: block;
}

i{
    margin-right: 10px;
}

main{
    height: auto;
    width: 80%;
    padding: 10px;
    margin-left: 150px;
}

.icerikbir{
    width: 48%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    margin-bottom: 15px;
    float: left;
}

.icerikiki{
    width: 48%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    margin-bottom: 15px;
    float: right;
}

.rsm{
    width: 100%;
    height: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
    
}

.rsm:hover{
    opacity: 0.8;
}

h5{
    margin:10px;
    color: dimgray;

}

.iceriktext{
    margin:10px;
    color: dimgray;
}

.btnDevam{
    display: block;
    text-decoration: none;
    width:150px;
    height:45px;
    padding:10px 20px;
    background-color: #0071ce;
    color: white;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    float: left;
}

.btnDevam:hover{
    opacity: 0.8;
}

.btniki{
    display: block;
    text-decoration: none;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    margin: 15px;
    text-align: center;
    border-radius: 100px;
    float: right;
}
footer{
    width: 100%px;
    height: 75px;
    background-color: black;
    color: white;
    line-height: 75px;
    text-align: center;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);

}

#hediyelikEsyaRsm{
    width: 350px;
    height: 300px;
    float: left;
    border-radius: 10px;
    margin: 25px;
    margin-bottom: 10px;
    transition: opacity 0.8s;
}

#hediyelikEsyaRsm:hover{
    opacity: 0.6;
}

.hakyazi{
    margin-right: 15px;
    font-size: 15px;
    font-family: Cambria;
    text-indent: 40px;
    color: #494949;
}

.parti{
    width: 31%;
    height: auto;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);

}

.partiRsm{
    width: 100%;
    height: 360px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.partiRsm:hover{
    opacity: 1;
}


.partiBaslik{
    font-size: 20px;
    display: inline-block;
    margin-top: -5px;
    color: black;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background-color: #f1f1f1;
    width: 100%;
}

.partDetay{
    text-align: center;
}

iframe{
    width: 98%;
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    margin-left: 10px;

}

.section1{
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}

.form{
    width: 49%;
    float: left;
    height: 380px;
    border: 1px solid #d8d8d8;
    padding: 10px;
    margin-right: 10px;
}

.col25{
    width: 25%;
    float: left;
    margin-top: 6px;
}

.col75{
    width: 75%;
    float: left;
    margin-top: 6px;
}


label{
    padding: 12px 12px 12px 0px;
    display: inline-block;
    
}

.iletisimSoyad{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row:after{
    content: "";
    clear: both;
    display: block;
}

input[type=submit]{
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    float: right;
}

.adres{
    width: 49%;
    float: left;
    height: 380px;
    border: 1px solid #d8d8d8;
    padding: 10px;
}

h2{
    text-align: center;

}

.span1{
    display: block;
    font-family: Calibri;
    margin: 10px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 16px;
}

#girisSayfasi{
    height: 475px;
    width: 500px;
    margin: 0px 500px 20px 500px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    border-radius: 10px;
    background-color:  white;
    font-family: Calibri;
    
}

.girisSayfasi_Eposta{
    height: auto;
    width: 400px;
    margin-left: 50px;
}

.girisSayfasi_Parola{
    height: auto;
    width: 400px;
    margin-left: 50px;
    margin-top: 5px;
}

.epostaLabel{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.epostaInput{
    border-style: none;
    width: 400px;
    height: 40px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    background-color: #FAFAFA;
    border-radius: 5px;

}

.epostaInput:hover{
    background-color: #ffcccc;
}

.sifreLabel{
    font-size: 20px;
    font-weight: 500;
}

.sifreInput{
    border-style: none;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.sifreInput:hover{
    background-color: #ffcccc;
}

.forget-password{
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: 50px;
}

.logIn-Girisyap{
    background-color: white;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    width: 200px;
    height: 75px;
    margin-top: 50px;
    margin-left: 650px;
    font-size: 30px;
    padding: 15px 40px;
    border-radius: 10px 10px 0px 0px;
}

.forget-password>a{
    font-size: 20px;
}

.loginButton{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    width: 400px;
    height: 75px;
    margin: 20px 50px;
    display: inline-block;
    padding: 15px 30px;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.2ms;
}

.loginButton:hover{
    opacity: 0.8;
}

.singIn-Uyeol{
    background-color: white;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    width: 200px;
    height: 75px;
    margin-top: 50px;
    margin-left: 650px;
    font-size: 30px;
    padding: 15px 40px;
    border-radius: 10px 10px 0px 0px;

}

.telefonNum{
    height: auto;
    width: 400px;
    margin-left: 50px;
    margin-top: 5px;
}

.telefonLabel{
    font-size: 20px;
    font-weight: 500;
}

.telefonInput{
    border-style: none;
    box-shadow: 0 2px 8px 2px rgba(20,23,28, .15);
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.uyeDegilse{
    text-decoration: none;
    margin: 20px;
    color: black;
    float: right;
    font-size: 18px;
    font-weight: bold;
}
